Package: CoreBox
Version: 2.2
Maintainer: Abrar <s96mini.cube@yahoo.com>
Section: utils
Architecture: all
Priority: optional
Depends: libqt5charts5 (>=5.9.5-0ubuntu1), libqt5svg5 (>=5.9.5-0ubuntu1), libqt5multimedia5 (>=5.9.5-0ubuntu1), libqt5x11extras5 (>=5.9.5-0ubuntu1), libqt5webengine5 (>=5.9.5+dfsg-0ubuntu2)
Description: CorereBox is combination of some common desktop apps
