[Desktop Entry]
Name=CoreBox
GenericName=CoreBox
Comment=A bunch of common desktop app with bookmark support
Exec=coreBox
Icon=coreBox
Type=Application
Categories=Utility;FileTools;
Terminal=false
StartupNotify=false
