/*CoreShot*/

QWidget{
    background-color: #2A2A2A;
    color: #ffffff;
    border: none;}

QPushButton{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #434343;
    padding: 3px 5px 3px 5px;}
QPushButton:hover {
    background-color: #308CC6;}
