/*CoreShot*/

QWidget{
    background-color: @color02;
    color: #ffffff;
    border: none;}

QToolButton{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid @color05;
    padding: 2px 2px 2px 2px;}
QToolButton:pressed{
    background-color: @color04;}
QToolButton:hover {
    background-color: @color04;}
QToolButton:checked{
    background-color: @color04;}
