/*SessionSaveDialog */

QWidget{
    background-color: #2A2A2A;
    color: #E6E6E6;
    border: 1px #2A2A2A;}


QPushButton{
    border: 1px solid #434343;
    padding: 5px 5px 5px 5px;}
QPushButton:hover {
    background-color: #308CC6;}


QLineEdit{
    border: 1px solid #434343;
    padding: 5px 5px 5px 10px;}